.container-senha{
    display: block;
    width: 80%;
    border: 2px;
    padding: 40px;
    margin: auto;
}

.form-floating{
    border-width: 2px;
    margin-top: 20px;
}

#change{
    margin-top: 4px;
}
    
